@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: "lato";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/lato-regular-webfont.eot");
  src: url("../fonts/lato-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-regular-webfont.woff") format("woff"), url("../fonts/lato-regular-webfont.ttf") format("truetype"), url("../fonts/lato-regular-webfont.svg#lato") format("svg"); }

@font-face {
  font-family: "nixieone";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/nixieone-regular-webfont.eot");
  src: url("../fonts/nixieone-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/nixieone-regular-webfont.woff") format("woff"), url("../fonts/nixieone-regular-webfont.ttf") format("truetype"), url("../fonts/nixieone-regular-webfont.svg#nixieone") format("svg"); }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  background: transparent; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img, iframe, video {
  max-width: 100%; }

img {
  height: auto;
  border: 0;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button,
html input[type="button"], input[type="reset"], input[type="submit"] {
  border: 0;
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

textarea, input {
  outline: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  font-family: itc-american-typewriter, "nixieone", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  color: #ebe6e3;
  line-height: 1.7;
  letter-spacing: 0.07812rem;
  font-weight: 500; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #ebe6e3;
  font-family: "lato", Helvetica, Arial, sans-serif;
  font-weight: 300; }

h1 {
  font-size: 2.5rem;
  color: #ebe6e3;
  text-transform: uppercase; }

h2 {
  font-size: 2rem;
  text-transform: uppercase; }

h3 {
  font-size: 1.5rem; }

h4 {
  font-size: 1.25rem; }

p.small {
  font-size: 0.8125rem; }

strong {
  font-weight: 700; }

a {
  color: #b7dbba;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  a:hover {
    color: #7cbe81; }
  a:focus {
    outline: none; }

mark {
  background: #afd7b2; }

.ir {
  display: block;
  overflow: hidden;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  text-indent: -999em;
  direction: ltr;
  *line-height: 0; }
  .ir br {
    display: none; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0; }
  .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    position: static;
    overflow: visible;
    clip: auto;
    margin: 0;
    width: auto;
    height: auto; }

.invisible {
  visibility: hidden; }

.group {
  *zoom: 1; }
  .group:before, .group:after {
    display: table;
    content: ""; }
  .group:after {
    clear: both; }

img[src*="googleadservices.com"] {
  position: absolute;
  top: 0;
  left: -9000em; }

body, html, .push-container {
  height: 100%; }

body {
  -webkit-overflow-scrolling: touch;
  background: #212422; }

.site-main {
  position: relative; }
  @media screen and (min-width: 1000px) {
    .site-main {
      top: 40px; } }

.wrapper {
  display: block; }
  .wrapper:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 1000px) {
    .wrapper {
      max-width: 1200px;
      margin: 0 auto; } }

.content-wrapper {
  display: block; }
  .content-wrapper:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 1000px) {
    .content-wrapper {
      max-width: 920px;
      margin: 0 auto; } }

::selection {
  background: #ebe6e3;
  color: #212422; }

.site-header {
  padding: 20px 0;
  position: relative;
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }
  .site-header:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 1000px) {
    .site-header {
      top: 40px;
      padding: 0; } }

.site-title {
  background: url("../img/l_bittersweet.png") no-repeat center;
  background-size: 80%;
  display: block;
  height: 68px;
  width: 295px;
  overflow: hidden;
  margin: 0px auto;
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }
  .site-title:before {
    content: "";
    display: block;
    width: 0;
    height: 100%; }
  @media screen and (min-width: 768px) {
    .site-title {
      background-size: 100%;
      position: relative;
      height: 100px;
      width: 350px; } }

.content-wrapper {
  padding: 0 5%;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }
  @media screen and (min-width: 1000px) {
    .content-wrapper {
      padding: 0 0 60px;
      -webkit-transition: all .5s ease;
      transition: all .5s ease; } }

.alignleft {
  float: left;
  margin: 20px; }

.aligncenter {
  display: block;
  margin: 20px auto; }

.alignright {
  float: right;
  margin: 20px; }

.site-footer {
  padding: 20px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  font-family: "lato", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #c0d9c9;
  text-align: center; }
  .site-footer:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 768px) {
    .site-footer {
      text-align: left; } }
  .site-footer .footer-border {
    border-top: 1px solid #c0d9c9; }
  @media screen and (min-width: 768px) {
    .site-footer .business-info,
    .site-footer .social-menu {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      margin-right: 0; }
      .site-footer .business-info:last-child,
      .site-footer .social-menu:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 768px) {
    .site-footer .social-menu {
      text-align: right; } }

.site-info {
  clear: both;
  text-align: center; }

.alert {
  background: #ebe6e3;
  color: #212422;
  text-align: center; }
  .alert .alert-content {
    font-size: 20px;
    padding: 12px; }
    .alert .alert-content a {
      color: #212422;
      text-decoration: underline; }
      .alert .alert-content a:hover {
        color: #212422; }
    .alert .alert-content p {
      margin: 0; }

input[type="submit"], button, .button {
  background: #ebe6e3;
  padding: 10px 20px;
  color: #212422;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "lato", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 1.375rem;
  text-decoration: none; }
  input[type="submit"]:hover, button:hover, .button:hover {
    color: #212422; }

input, textarea {
  background: rgba(235, 230, 227, 0.3);
  border: none;
  padding: 10px;
  color: #ebe6e3; }
  input[type="search"]::-ms-clear, textarea[type="search"]::-ms-clear {
    display: none; }
  input:focus, textarea:focus {
    border-bottom: 2px solid #ebe6e3; }

.menu-toggle {
  text-transform: uppercase;
  color: #ebe6e3;
  text-decoration: none;
  font-weight: 700;
  float: right;
  padding: 20px 2% 0 0; }
  .menu-toggle:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    top: 2px;
    right: 5px;
    background-size: 16px; }

.menu-toggle:hover {
  background: none; }

@media screen and (min-width: 1000px) {
  .small-menu {
    display: none; } }

.small-menu nav.primary .menu {
  padding: 0;
  margin: 0;
  background: #afd7b2; }
  .small-menu nav.primary .menu .menu-item {
    list-style: none; }
    .small-menu nav.primary .menu .menu-item a {
      text-transform: uppercase;
      font-size: 1rem;
      padding: 20px;
      display: block;
      color: #212422; }
    .small-menu nav.primary .menu .menu-item:last-child {
      border-bottom: none; }

.large-menu nav.primary {
  background: #afd7b2;
  display: none; }
  @media screen and (min-width: 1000px) {
    .large-menu nav.primary {
      display: block; } }
  .large-menu nav.primary .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    box-align: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    padding: 20px; }
  .large-menu nav.primary .menu-item {
    display: inline-block;
    -webkit-box-flex: 1;
    box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center; }
  .large-menu nav.primary a {
    color: #212422;
    font-family: "lato", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 400; }

nav.social {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-right: 0;
  padding: 5px 0 20px; }
  nav.social:last-child {
    margin-right: 0; }
  @media screen and (min-width: 768px) {
    nav.social {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      float: right;
      padding: 0; }
      nav.social:last-child {
        margin-right: 0; } }
  nav.social .menu {
    margin: 0;
    padding: 0; }
    @media screen and (min-width: 1000px) {
      nav.social .menu {
        float: right; } }
  nav.social .menu-item {
    display: inline-block;
    list-style: none;
    margin: 0 10px; }
    nav.social .menu-item:last-child {
      margin-right: 0; }
    nav.social .menu-item a {
      background-size: 100%;
      overflow: hidden;
      width: 37px;
      height: 37px;
      display: block;
      background-position: center;
      background-repeat: no-repeat; }
      nav.social .menu-item a:before {
        content: "";
        display: block;
        width: 0;
        height: 100%; }
    nav.social .menu-item.twitter a {
      background-image: url("../img/i_twitter.png"); }
    nav.social .menu-item.instagram a {
      background-image: url("../img/i_instagram.png"); }
    nav.social .menu-item.facebook a {
      background-image: url("../img/i_facebook.png"); }

.breadcrumbs {
  padding-top: 20px; }

.pagination .menu {
  padding: 20px 0;
  list-style: none;
  text-align: center; }

.pagination .menu li {
  display: inline-block; }

table {
  border-collapse: collapse; }
  table th, table td {
    padding: 8px;
    border: 1px solid #ecf4ef; }
  table tbody tr:nth-child(odd) {
    background-color: #f9fbfa; }

.gallery-item {
  width: 33.333%;
  display: inline-block; }
  @media screen and (min-width: 768px) {
    .gallery-item {
      margin: 10px 0;
      width: 25%; } }

.gallery-icon {
  text-align: center; }

figcaption {
  display: none; }

body .featherlight .featherlight-content {
  padding: 0;
  border-bottom: none; }

.home .site-main {
  top: 0; }

.home .site-header {
  z-index: 100; }

@media screen and (min-width: 1000px) {
  .hero {
    background: url("../img/bg_hero.jpg") no-repeat center;
    background-size: cover; } }

.hero .hero-content {
  margin: 0 20px;
  padding: 10px;
  background-color: #afd7b2;
  color: #212422; }
  @media screen and (min-width: 768px) {
    .hero .hero-content {
      padding: 50px; } }
  @media screen and (min-width: 1000px) {
    .hero .hero-content {
      margin: 450px auto 60px; } }
  .hero .hero-content h1, .hero .hero-content h2 {
    color: #212422; }
  .hero .hero-content h1 {
    font-size: 1.25rem; }
    @media screen and (min-width: 768px) {
      .hero .hero-content h1 {
        font-size: 1.75rem; } }
  .hero .hero-content h2 {
    font-size: 1.125rem; }
    @media screen and (min-width: 768px) {
      .hero .hero-content h2 {
        font-size: 1.375rem; } }
  .hero .hero-content a {
    color: #212422;
    text-decoration: underline; }

.homepage-content {
  margin: 0; }
  @media screen and (min-width: 1000px) {
    .homepage-content {
      margin: 50px 0 0; } }
  .homepage-content .content-wrapper {
    padding-bottom: 0; }
  .homepage-content .content-column {
    padding: 20px 40px;
    text-align: center; }
    @media screen and (min-width: 768px) {
      .homepage-content .content-column {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%;
        margin-right: 0; }
        .homepage-content .content-column:last-child {
          margin-right: 0; } }
    .homepage-content .content-column h2 {
      border-bottom: 1px solid #ebe6e3;
      font-size: 1.5rem; }
      @media screen and (min-width: 768px) {
        .homepage-content .content-column h2 {
          font-size: 2rem; } }

.cta {
  position: relative; }
  @media screen and (min-width: 768px) {
    .cta {
      top: 50px;
      z-index: 300; } }

.cta-content {
  text-align: center;
  margin-bottom: 40px; }
  @media screen and (min-width: 768px) {
    .cta-content {
      border-bottom: none;
      background: url("../img/bg_menu-cta.png") no-repeat center;
      height: 376px;
      width: 730px;
      margin: 0 auto; } }
  .cta-content .button {
    font-size: 1.875rem; }
    @media screen and (min-width: 768px) {
      .cta-content .button {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); } }

.instagram-feed {
  display: none; }
  @media screen and (min-width: 768px) {
    .instagram-feed {
      display: block;
      background: rgba(33, 36, 34, 0.5);
      position: relative; }
      .instagram-feed:after {
        content: "";
        display: table;
        clear: both; } }
  @media screen and (min-width: 768px) {
    .instagram-feed .follow-us {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      z-index: 2;
      color: #ebe6e3;
      font-family: "lato", Helvetica, Arial, sans-serif;
      font-size: 1.875rem;
      text-transform: uppercase;
      width: 33%;
      text-align: center;
      line-height: 1; } }
  @media screen and (min-width: 1000px) {
    .instagram-feed .follow-us {
      font-size: 3.125rem; } }
  @media screen and (min-width: 768px) {
    .instagram-feed .feed-image {
      float: left;
      display: inline-block;
      width: 25%;
      position: relative;
      z-index: -1; } }

.menu.entry-content {
  margin: 0; }

.menu-row {
  text-align: center; }

.menu-category {
  position: relative;
  display: inline-block;
  text-align: center;
  margin: 30px 25px; }
  @media screen and (min-width: 768px) {
    .menu-category {
      padding: 50px;
      height: 215px;
      width: 395px;
      background-repeat: no-repeat;
      background-position: center; } }
  .menu-category.menu-pdf {
    height: auto;
    width: 100%; }
  @media screen and (min-width: 768px) {
    .menu-category.cocktails {
      background-image: url("../img/bg_menu-cocktail.png");
      width: 570px; } }
  @media screen and (min-width: 768px) {
    .menu-category.desserts {
      background-image: url("../img/bg_menu-desserts.png"); } }
  @media screen and (min-width: 768px) {
    .menu-category.coffee {
      background-image: url("../img/bg_menu-coffee.png"); } }
  @media screen and (min-width: 768px) {
    .menu-category.morning {
      background-image: url("../img/bg_menu-morning.png"); } }
  @media screen and (min-width: 768px) {
    .menu-category.catering {
      background-image: url("../img/bg_menu-catering.png"); } }
  .menu-category .button {
    background-color: #afd7b2;
    font-size: 1.75rem; }
    @media screen and (min-width: 768px) {
      .menu-category .button {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); } }

.entry-title {
  text-align: center;
  padding-top: 20px;
  margin: 0; }
  @media screen and (min-width: 1000px) {
    .entry-title {
      font-size: 4.375rem; } }

.entry-content {
  margin: 40px 0px;
  word-wrap: break-word; }
  .entry-content:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 1000px) {
    .entry-content {
      margin: 40px 80px; } }

#tribe-bar-form {
  background: transparent; }

#tribe-bar-form label {
  font-weight: normal; }

#tribe-bar-collapse-toggle {
  background: transparent;
  font-weight: normal; }

.tribe-bar-views-inner {
  background: transparent; }

#tribe-bar-form.tribe-bar-collapse .tribe-bar-views-inner label {
  font-weight: normal;
  padding-bottom: 6px; }

#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a {
  background: #afd7b2;
  padding: 6px 8px; }

#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option.tribe-bar-active a:hover {
  background: #7cbe81;
  color: #212422; }

#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a:hover {
  background: #7cbe81;
  color: #212422; }

#tribe-bar-form input[type='text'] {
  color: #ebe6e3;
  font-weight: normal; }

#tribe-bar-form .tribe-bar-submit input[type=submit] {
  background: #afd7b2;
  color: #212422; }

#tribe-geo-results h2.tribe-events-page-title, h2.tribe-events-page-title {
  font-weight: 300; }

.tribe-events-notices {
  background: #c0d9c9;
  border: none;
  border-radius: 0;
  text-shadow: none;
  color: #212422; }

table tbody tr:nth-child(even) {
  background: rgba(235, 230, 227, 0.1); }

table tbody tr:nth-child(odd) {
  background: rgba(192, 217, 201, 0.2); }

.tribe-events-calendar thead th {
  background: rgba(235, 230, 227, 0.2);
  font-weight: normal; }

#tribe-events-content .tribe-events-calendar td.tribe-events-othermonth {
  background: rgba(235, 230, 227, 0.1); }

#tribe-events-content .tribe-events-calendar td:hover {
  background: rgba(235, 230, 227, 0.3); }

#tribe-events .tribe-events-button, #tribe-events .tribe-events-button:hover, #tribe_events_filters_wrapper input[type=submit], .tribe-events-button, .tribe-events-button.tribe-active:hover, .tribe-events-button.tribe-inactive, .tribe-events-button:hover, .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-], .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-] > a {
  background: #c0d9c9; }

.tribe-events-calendar td.tribe-events-past div[id*=tribe-events-daynum-], .tribe-events-calendar td.tribe-events-past div[id*=tribe-events-daynum-] > a,
.tribe-events-calendar div[id*=tribe-events-daynum-], .tribe-events-calendar div[id*=tribe-events-daynum-] a {
  background: #c0d9c9;
  font-weight: normal;
  color: #212422; }

.tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-], .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-] > a {
  background: #afd7b2;
  font-weight: normal;
  color: #212422; }

#tribe-events-content .tribe-events-calendar div[id*=tribe-events-event-] h3.tribe-events-month-event-title {
  font-family: "lato", Helvetica, Arial, sans-serif; }

#tribe-events-content .tribe-events-tooltip h4, #tribe_events_filters_wrapper .tribe_events_slider_val, .single-tribe_events a.tribe-events-gcal, .single-tribe_events a.tribe-events-ical {
  color: #212422;
  text-align: left; }

.recurring-info-tooltip, .tribe-events-calendar .tribe-events-tooltip, .tribe-events-week .tribe-events-tooltip {
  color: #212422; }

#tribe-events-content .tribe-events-calendar td.tribe-events-present.mobile-active:hover, .tribe-events-calendar td.tribe-events-present.mobile-active, .tribe-events-calendar td.tribe-events-present.mobile-active div[id*=tribe-events-daynum-], .tribe-events-calendar td.tribe-events-present.mobile-active div[id*=tribe-events-daynum-] a {
  background: #7cbe81;
  color: #212422; }

#tribe-events-content .tribe-events-calendar .mobile-active:hover, #tribe-events-content .tribe-events-calendar td.tribe-events-othermonth.mobile-active, #tribe-events-content .tribe-events-calendar td.tribe-events-othermonth.mobile-active div[id*=tribe-events-daynum-], #tribe-events-content .tribe-events-calendar td.tribe-events-othermonth.mobile-active div[id*=tribe-events-daynum-] a, .tribe-events-calendar .mobile-active div[id*=tribe-events-daynum-], .tribe-events-calendar .mobile-active div[id*=tribe-events-daynum-] a, .tribe-events-calendar td.mobile-active {
  background: rgba(235, 230, 227, 0.4); }

.tribe-events-calendar td div[id*=tribe-events-daynum-], .tribe-events-calendar td div[id*=tribe-events-daynum-] a {
  color: #ebe6e3; }
  @media screen and (min-width: 768px) {
    .tribe-events-calendar td div[id*=tribe-events-daynum-], .tribe-events-calendar td div[id*=tribe-events-daynum-] a {
      color: #212422; } }

.tribe-events-list-separator-month span {
  background: #212422;
  font-weight: normal; }

.tribe-events-loop .tribe-events-event-meta {
  background: rgba(235, 230, 227, 0.1);
  border: none;
  padding: 20px; }

.tribe-events-day .tribe-events-day-time-slot h5 {
  background: transparent; }

.tribe-events-schedule h2 {
  font-weight: normal; }

#tribe-events .tribe-events-button, #tribe-events .tribe-events-button:hover, #tribe_events_filters_wrapper input[type=submit], .tribe-events-button, .tribe-events-button.tribe-active:hover, .tribe-events-button.tribe-inactive, .tribe-events-button:hover, .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-], .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-] > a {
  color: #212422;
  font-weight: normal;
  border-radius: 0; }

.single-tribe_events .tribe-events-event-meta {
  background: rgba(235, 230, 227, 0.1);
  border: none; }

.tribe-events-adv-list-widget .tribe-events-widget-link a, .tribe-events-back a, .tribe-events-list-widget .tribe-events-widget-link a, ul.tribe-events-sub-nav a {
  font-weight: normal; }

.single-tribe_events .tribe-events-schedule {
  background: transparent;
  border: none; }

#tribe-events-content h1 {
  font-size: 2rem;
  margin: 0; }

.single-tribe_events .tribe-events-schedule {
  margin: 0;
  padding: 0; }

/**
 * Featherlight – ultra slim jQuery lightbox
 * Version 1.3.4 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2015, Noël Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/
@media all {
  .featherlight {
    display: none;
    /* dimensions: spanning the background from edge to edge */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2147483647;
    /* z-index needs to be >= elements on the site. */
    /* position: centering content */
    text-align: center;
    /* insures that the ::before pseudo element doesn't force wrap with fixed width content; */
    white-space: nowrap;
    /* styling */
    cursor: pointer;
    background: #333;
    /* IE8 "hack" for nested featherlights */
    background: rgba(0, 0, 0, 0); }
  /* support for nested featherlights. Does not work in IE8 (use JS to fix) */
  .featherlight:last-of-type {
    background: rgba(0, 0, 0, 0.8); }
  .featherlight:before {
    /* position: trick to center content vertically */
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; }
  .featherlight .featherlight-content {
    /* make content container for positioned elements (close button) */
    position: relative;
    /* position: centering vertical and horizontal */
    text-align: left;
    vertical-align: middle;
    display: inline-block;
    /* dimensions: cut off images */
    overflow: auto;
    padding: 25px 25px 0;
    border-bottom: 25px solid transparent;
    /* dimensions: handling small or empty content */
    min-width: 30%;
    /* dimensions: handling large content */
    margin-left: 5%;
    margin-right: 5%;
    max-height: 95%;
    /* styling */
    background: #fff;
    cursor: auto;
    /* reset white-space wrapping */
    white-space: normal; }
  /* contains the content */
  .featherlight .featherlight-inner {
    /* make sure its visible */
    display: block; }
  .featherlight .featherlight-close-icon {
    /* position: centering vertical and horizontal */
    position: absolute;
    z-index: 9999;
    top: 0;
    right: 0;
    /* dimensions: 25px x 25px */
    line-height: 25px;
    width: 25px;
    /* styling */
    cursor: pointer;
    text-align: center;
    font-family: Arial, sans-serif;
    background: #fff;
    /* Set the background in case it overlaps the content */
    background: rgba(255, 255, 255, 0.3);
    color: #000; }
  .featherlight .featherlight-image {
    /* styling */
    width: 100%; }
  .featherlight-iframe .featherlight-content {
    /* removed the border for image croping since iframe is edge to edge */
    border-bottom: 0;
    padding: 0; }
  .featherlight iframe {
    /* styling */
    border: none; } }

/* handling phones and small screens */
@media only screen and (max-width: 1024px) {
  .featherlight .featherlight-content {
    /* dimensions: maximize lightbox with for small screens */
    margin-left: 10px;
    margin-right: 10px;
    max-height: 98%;
    padding: 10px 10px 0;
    border-bottom: 10px solid transparent; } }

/**
 * Featherlight Gallery – an extension for the ultra slim jQuery lightbox
 * Version 1.3.4 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2015, Noël Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/
@media all {
  .featherlight-next,
  .featherlight-previous {
    display: block;
    position: absolute;
    top: 25px;
    right: 25px;
    bottom: 0;
    left: 80%;
    cursor: pointer;
    /* preventing text selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* IE9 hack, otherwise navigation doesn't appear */
    background: rgba(0, 0, 0, 0); }
  .featherlight-previous {
    left: 25px;
    right: 80%; }
  .featherlight-next:hover,
  .featherlight-previous:hover {
    background: rgba(255, 255, 255, 0.25); }
  .featherlight-next span,
  .featherlight-previous span {
    display: none;
    position: absolute;
    top: 50%;
    left: 5%;
    width: 82%;
    /* center horizontally */
    text-align: center;
    font-size: 80px;
    line-height: 80px;
    /* center vertically */
    margin-top: -40px;
    text-shadow: 0px 0px 5px #fff;
    color: #fff;
    font-style: normal;
    font-weight: normal; }
  .featherlight-next span {
    right: 5%;
    left: auto; }
  .featherlight-next:hover span,
  .featherlight-previous:hover span {
    display: inline-block; }
  /* Hide navigation while loading */
  .featherlight-loading .featherlight-previous, .featherlight-loading .featherlight-next {
    display: none; } }

/* Always display arrows on touch devices */
@media only screen and (max-device-width: 1024px) {
  .featherlight-next:hover,
  .featherlight-previous:hover {
    background: none; }
  .featherlight-next span,
  .featherlight-previous span {
    display: block; } }

/* handling phones and small screens */
@media only screen and (max-width: 1024px) {
  .featherlight-next,
  .featherlight-previous {
    top: 10px;
    right: 10px;
    left: 85%; }
  .featherlight-previous {
    left: 10px;
    right: 85%; }
  .featherlight-next span,
  .featherlight-previous span {
    margin-top: -30px;
    font-size: 40px; } }
