//==================================================================
// Header Partial
// Styles for header layout.
//==================================================================

// Header
// =================================================================
.site-header {
	@include clearfix;
	padding: 20px 0;
	position: relative;
	transition: all .3s ease;
	@include media($desktop) {
		top: 40px;
		padding: 0;
	}
}
.site-title {
	background: url('../img/l_bittersweet.png') no-repeat center;
	background-size: 80%;
	display: block;
	height: 68px;
	width: 295px;
	@include hide-text;
	margin: 0px auto;
	transition: all .3s ease;
	@include media($tablet) {
		background-size: 100%;
		position: relative;
		height: 100px;
		width: 350px;
	}
}

