//==================================================================
// Home Page Partial
// Styles for the home page.
//==================================================================

.home .site-main {
    top: 0;
}

.home .site-header {
   z-index: 100;
}

// Hero
// =================================================================

.hero {
//    @include media($desktop) {
//         background: url('../img/bg_hero.jpg') no-repeat center;
//         background-size: cover;
//    }
    .content-wrapper {
        max-width: 1200px;
    }

   .hero-content {
        padding: 20px;
        background-color: $brand_tertiary;
        color: $reverse_text_color;

        @include media($desktop) {            
            margin: 100px 0 0;
            padding: 50px 120px;
        }

        h1, h2, h3 {
            color: $reverse_text_color;
        }
        h1 {
            font-size: rem(18px);
            @include media($tablet) {
                font-size: rem(28px);
            }
        }
        h2 {
            font-size: rem(16px);
            @include media($tablet) {
                font-size: rem(22px);
            }
        }

        h3 {
            font-size: rem(14px);
            @include media($tablet) {
                font-size: rem(18px);
            }
        }

        a:not(.button) {
            color: $reverse_text_color;
            text-decoration: underline;
        }

        .button {
            display: inline-block;
            margin: 15px auto 30px;
            padding: 15px 40px;
            font-size: 1.45rem;
            background: #5e68b0;
            color: $text_color;
        }
   }
}

.hero-menu-title {
    text-align: center;
}

.hero-menu-subtitle {
    text-align: center;
    p {
        margin: 0 0 6px;
        font-size: rem(16px);
        @include media($tablet) {
            font-size: rem(18px);
        }
    }
}

.hero-menu-content-section {
    margin-top: 30px;
}

.hero-menu-content {

    .hero-menu-section-title {
        margin: 0 0 12px;
        text-align: center;

        &::before,
        &::after {
            display: inline-block;
            position: relative;
            content: "—";
        }
    }

    .hero-menu-section-subtitle {
        margin: 20px 0 12px;
    }

    h3.hero-menu-section-subtitle {
        font-weight: $paragraph_font_strong_weight;
        margin: 0 0 12px;
    }

    p {
        margin: 0;
    }
}

.hero-menu-item {
    margin-bottom: 12px;

    .hero-menu-item-title {
        line-height: 1.2;
    }

    .hero-menu-item-description {
        line-height: 1.2;
    }
}





// Homepage Content
// =================================================================

.homepage-content {
    margin: 0;

    @include media($desktop) {
        margin: 50px 0 0;
    }

    .content-wrapper {
        padding-bottom: 0;
    }

    .content-column {
        padding: 20px 40px;
        text-align: center;
        @include media($tablet) {
            @include span-columns(6);
            @include omega;
        }
        h2 {
            border-bottom: 1px solid $brand_secondary;
            font-size: rem(24px);
            @include media($tablet) {
                font-size: $h2_font_size;
            }
        }
    }
}

// Menu CTA
// =================================================================

.cta {
    position: relative;
    @include media($tablet) {
        top: 50px;
        z-index: 300;
    }   
}

.cta-content {
    text-align: center;
    margin-bottom: 40px;

    @include media($tablet) {
        border-bottom: none;
        background: url('../img/bg_menu-cta.png') no-repeat center;
        height: 376px;
        width: 730px;
        margin: 0 auto;
    }
   .button {
        font-size: rem(30px);
        @include media($tablet) {
            @include position-vertical;
        }
    }
}

// Instagram Feed
// =================================================================

.instagram-feed {
    display: none;
    @include media($tablet) {
        display: block;
        @include clearfix;
        background: rgba($brand_primary,.5);
        position: relative;
    }
    .follow-us {
        @include media($tablet) {
            @include position-vertical;
            z-index: 2;
            color: $text_color;
            font-family: $header_font_family;
            font-size: rem(30px);
            text-transform: uppercase;
            width:33%;
            text-align: center;
            line-height: 1;
        }
        @include media($desktop) {
            font-size: rem(50px);
        }
    }
    .feed-image {
        @include media($tablet) {
            float: left;
            display: inline-block;
            width: 25%;
            position: relative;
            z-index: -1;
        }
    }
}



