//==================================================================
// Menu Page Partial
// Styles for the menu page.
//==================================================================


.menu.entry-content {
	margin: 0;
}
.menu-row {
	text-align: center;
}

.menu-category {
	position: relative;
	display: inline-block;
	text-align: center;
	margin: 30px 25px;
	
	@include media($tablet) {
		padding: 50px;
		height: 215px;
		width: 395px;
		background-repeat: no-repeat;
		background-position: center;
	}

	&.menu-pdf {
		height: auto;
		width: 100%;
	}

	&.cocktails {
		@include media($tablet) {
			background-image: url('../img/bg_menu-cocktail.png');
			width: 570px;
		}
	}

	&.desserts {
		@include media($tablet) {
			background-image: url('../img/bg_menu-desserts.png');
		}
	}

	&.coffee {
		@include media($tablet) {
			background-image: url('../img/bg_menu-coffee.png');
		}
	}

	&.morning {
		@include media($tablet) {
			background-image: url('../img/bg_menu-morning.png');
		}
	}

	&.catering {
		
		@include media($tablet) {
			background-image: url('../img/bg_menu-catering.png');
		}
	}

	.button {
		background-color: $brand_tertiary;
		font-size: rem(28px);
		@include media($tablet) {
            @include position-vertical;
        }
	}
}