//==================================================================
// Buttons Partial
// Styles for various traditional actions.
//==================================================================


// Variables
// =================================================================


// Button
// =================================================================
input[type="submit"], button, .button {
    background: $button_background;
    padding: $button_padding;
    color: $button_text_color;
    text-transform: uppercase;
    text-decoration: none;
    font-family: $header_font_family;
    font-weight: $header_font_weight;
    font-size: rem(22px);
    text-decoration: none;

    &:hover {
		color: $button_text_color;
    }
}