//==================================================================
// Global Imports
// Configured component imports for the site/application
//==================================================================

// Global Imports
// =================================================================

	// 1. Import Configurations							  (Required)
	// -------------------------------------------------------------
	@import "bourbon/bourbon";
	@import "neat/neat";
	

	// 2. Import Base 									  (Required)
	// -------------------------------------------------------------
	@import "base/variables";
	@import "base/mixins";
	@import "base/normalize";
	@import "base/typography";
	@import "base/helpers";


	// 3. Import Layouts
	// -------------------------------------------------------------
	@import "layouts/global";
	@import "layouts/header";
	@import "layouts/content";
	@import "layouts/footer";


	// 4. Import Components
	// -------------------------------------------------------------
	@import "components/alerts";
	@import "components/animations";
	@import "components/buttons";
	@import "components/forms";
	@import "components/media";
	@import "components/navigations";
	@import "components/panels";
	@import "components/search";
	@import "components/tables";
	
	
	// 5. Import Pages
	// -------------------------------------------------------------
	@import "pages/404";
	@import "pages/gallery";
	@import "pages/home";
	@import "pages/menu";
	@import "pages/posts";
	@import "pages/pages";
	

	// 6. Import Vendors
	// -------------------------------------------------------------
	@import "vendors/eventscalendar";
	@import "vendors/featherlight";
	@import "vendors/mec-events";
	// @import "vendors/owlcarousel";
	// @import "vendors/owltheme";
	// @import "vendors/owltransitions";

